{% extends 'student_template/base_template.html' %}
{% block page_title %}
INSTITUTE NOTICES
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Important Notices</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->



          </div>
          </div>

          <div class="container ">
 
            <br><br>
        <div class="row">
            <div class="col-md-9">
                <h5>All Notices:</h5>
                
                <div class="w3-panel w3-blue ">
                  <h3>Notice Board</h3>
                </div><br>
                {%for n in notice%}
                <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <strong>{{n.date}} ||By :{{n.by}} </strong><br> {{n.message}}
                </div>
                {%endfor%}
            </div>
        </div>
         
        <br><br>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}

{% endblock custom_js %}

